@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Source+Code+Pro');

/* unvisited link */
a:link {
  color: rgb(34, 114, 110);
  text-decoration: none;
}

/* visited link */
a:visited {
  color:rgb(34, 114, 110);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-container-single{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  border: 2px solid darkslateblue;
  border-style: ridge;
  width:93%;
  margin: 1%;
  border-radius: 3rem;
  padding: 2rem;
  background-color:  rgba(71, 61, 139, 0.089)
}

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

.App-header {
  background-color: darkslateblue ;
  height: 8rem;
  padding: 1rem;
  color: white;
  font-size: 1.5em;
  text-align: left;
  border-bottom: 1em;

}

.App-title {
  font-size: 1.5em;
  color: white;
  display:inline-flex;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;  
  margin: 0;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.article{
  border: 2px solid darkslateblue;
  border-style: ridge;
  width:44.9%;
  margin: 1%;
  border-radius: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color:  rgba(71, 61, 139, 0.089)
}

.article-header{
  text-align: center;
}

.button{
  color:darkslateblue;
  font-size: 1rem;
  border: 2px solid darkslateblue;
  border-style: ridge;
  border-radius: 3rem;
  padding: 0.5rem;
  outline: none;
}

.button-image{
  width: 1.2em;
  height: 1em;
}

.comment-container{
display:flex;
flex-direction: row;
border: 2px solid darkslateblue;
border-style: ridge;
widows: 95%;
margin: 1%;
border-radius: 3rem;
padding: 1rem;
background-color:  rgba(34, 114, 110, 0.205);
}

.comment-body{
order:2;
padding-left: 2rem;
}

.comment-buttons-container{
display:flex;
flex-direction: column;
justify-content: space-between;
order: 1;
flex-wrap: no-wrap;
}

.comment-vote{
  color:red
}

.input{
  color:darkslateblue;
  font-size: 1rem;
  border: 2px solid darkslateblue;
  border-style: ridge;
  border-radius: 3rem;
  padding: 0.5rem;
  outline: none;
}

.logo{
  width: 10em;
  height: 5em;
  display: inline-flex;
}

.nav {
  font-size: 1.3em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;  
  background-color: rgb(34, 114, 110);
  border: none;
  padding: 0.3em;

}

.Topic-header{
  background-color: darkslateblue;
  height: 2rem;
  padding: 20px;
  color: white;
  font-size: 1.5em;
  text-align: left;
  border-bottom: 1em;
  margin-top:0.3rem;
}

ul{
  list-style-type: none;
}

.vote-container{
display:flex;
flex-direction: column;
flex-wrap: no-wrap;
justify-content: space-between;

}